.HomePage {
	width: 100%;
	height: 100vh;
	background-color: #f0f0f0;
}

.home-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 40px;
	background-color: rgb(50, 24, 75);
	color: white;
}

h1 {
	margin: 0;
}

.logout-button {
	background-color: #c70042;
	color: white;
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	cursor: pointer;
}

.logout-button:hover {
	background-color: #ff0055;
}
